.product-image {
  max-width: 400px;
  aspect-ratio: 1;
  object-fit: cover;
}

.product-container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 50px;
  transition: all 0.5s ease;
}

/* .product-left {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
} */

.product-wrapper {
  overflow: hidden;
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}
