.sidebar-form {
  flex-basis: 20%;
  position: relative;
  border-right: 3px solid;
}

.hidden {
  max-width: 30px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: white;
  padding: 10px;
}

.price-filter__range {
  display: flex;
}

.price-filter__range span {
  width: 35px;
  margin-right: 10px;
}

input[type="number"] {
  max-width: 65px;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}

.price-filter__title {
  margin-bottom: 10px;
  color: rgb(170, 170, 170);
  font-weight: 600;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  appearance: none;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.816);
  border-radius: 3px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-image: url("../assets/check.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00afff;
}

.category-filter {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.category-filter__type {
  display: flex;
  align-items: center;
  gap: 10px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
